{% extends "layouts/base.html" %}
{% block content %}
<form action="{{ fn.buildRoute('auth.register-post') }}" method="POST">
    <div>
        <label>Name</label>
        <input type="name" name="name" id="input-name" placeholder="Your full name" title="Please enter your full name">
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" id="input-email" placeholder="Your email address" title="Please enter your email address">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" id="input-password" placeholder="Your password" title="Please enter your password">
    </div>
    <div>
        <label>Password (again)</label>
        <input type="password" name="password_match" id="input-password-match" placeholder="Your password" title="Please enter your password (again)">
    </div>
    <div>
        <button type="submit" id="btn-register">Register</button>
    </div>
</form>
{% endblock %}
