<!DOCTYPE html>
<html lang="en">
  <head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
{% block meta %}
    <meta name="description" content="Celestial: A PHP framework">
    <meta name="keywords" content="PHP, Framework, Celestial, Constellation, Libra">
    <meta name="author" content="Libra PHP">
{% endblock %}
    <title>{% block title %}{% endblock %}Admin</title>
{% block head_scripts %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
{% endblock %}
  </head>
  <body>
      <section id="content">
          <section id="sidebar">
              <ul>
                  <a href='/admin'><li>Dashboard</li></a>
                  <a href='/admin/users'><li>Users</li></a>
                  <a href='/admin/sign-out'><li>Sign out</li></a>
              </ul>
          </section>
          <section id="module">
              <div id="module-content">
                  {% block content %}{% endblock %}
              </div>
              <footer>
                  <div id="footer">
                      <div id="brand-logo"></div>
                      <small>&#169; 2022 William Hleucka</small>
                  </div>
              </footer>
          </section>
      </section>
{% block body_scripts %}
      <script src="/js/admin.js"></script>
{% endblock %}
  </body>
</html>
