{% extends "layouts/base.html" %}
{% block head_scripts %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% block content %}
<section id="register-form" class="flex justify-content-center align-items-center w-100">
    <form action="{{ fn.buildRoute('auth.register-post') }}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td class="text-right"><label>Name</label></td>
                    <td>
                        <input type="name" name="name" value="{{ fn.old('name') }}" id="input-name" placeholder="Your full name" title="Please enter your full name">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{% include 'validate/errors.html' with {'field': 'name'} %}</td>
                </tr>
                <tr>
                    <td class="text-right"><label>Email</label></td>
                    <td>
                        <input type="email" name="email" value="{{ fn.old('email') }}" id="input-email" placeholder="Your email address" title="Please enter your email address">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{% include 'validate/errors.html' with {'field': 'email'} %}</td>
                </tr>
                <tr>
                    <td class="text-right"><label>Password</label></td>
                    <td>
                        <input type="password" name="password" id="input-password" placeholder="Your password" title="Please enter your password">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{% include 'validate/errors.html' with {'field': 'password'} %}</td>
                </tr>
                <tr>
                    <td class="text-right"><label>Password (again)</label></td>
                    <td>
                        <input type="password" name="password_match" id="input-password-match" placeholder="Your password" title="Please enter your password (again)">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-right"><button type="submit" id="btn-register">Register</button></td>
                </tr>
            </tbody>
        </table>
        <caption>
            <div id="ssl-caption" class="text-center"><img src='/img/lock.png' alt='256 SSL Encryption'> SSL Encryption (AES-256)</div>
            <div id="copyright-caption" class="text-center">&copy; 2022 Libra PHP - All rights reserved</div>
        </caption>
    </form>
</section>
{% endblock %}
