/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/**
 * Main
 */
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
}
#module {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 10px;
}
#module-content {
  min-height: calc(100% - 20px);
}
#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}
#footer {
  font-size: 0.7rem;
  color: #888;
}

/**
 * Forms
 */
#edit-form .edit-title {
  padding-right: 10px;
  text-align: right;
}
#edit-form #edit-actions {
  margin-top: 10px;
}
#edit-form #edit-actions button {
  margin-right: 10px;
}
.form-error {
    color: darkred;
    font-size: 0.85rem;
    margin-bottom: 3px;
}
#sign-in-form td:first-child, #register-form td:first-child {
    width: 1%;
}
#sign-in-form td, #register-form td {
    width: 240px;
}
#sign-in-form input, #register-form input {
    width: 100%;
}
#edit-form label, #sign-in-form label, #register-form label {
  font-size: 0.8rem;
  color: #888;
  padding-right: 3px;
}
#ssl-caption {
    margin-top: 15px;
  padding: 5px;
  font-size: 0.6rem;
  color: #888;
}
#ssl-caption img {
    height: 10px;
}
#copyright-caption {
  font-size: 0.6rem;
  color: #888;
}

/**
 * Links
 */
a {
  text-decoration: none;
}
a:link {
  color: #444;
}
a:visited {
  color: #444;
}
a:hover {
  color: royalblue;
}
a:active {
  color: #444;
}
table.module-table tbody a {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}
table.module-table thead a:hover {
  color: #fff;
}
table.module-table a::after {
  position: absolute;
  bottom: 0.3em;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: royalblue;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
table.module-table a:hover::after {
  bottom: 0;
  opacity: 1;
}
table.module-table a:hover {
  color: royalblue;
}

/**
 * Breadcrumbs
 */
ul.breadcrumb {
  color: #777;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "\203A";
}

ul.breadcrumb li a {
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/**
 * Alerts
 */
.alerts {
  margin-bottom: 20px;
  width: 100%;
}

.flash {
  font-size: 0.9rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-left-style: solid;
  border-width: 5px;
  padding: 20px;
}

.alerts strong {
  font-size: 1.2rem;
  margin-right: 10px;
}

.alerts .error {
  border-left-color: red;
  background-color: #fff0f0;
}
.alerts .error strong {
  color: red;
}
.alerts .success {
  border-left-color: #97f7a2 !important;
  background-color: #f0fff1;
}
.alerts .success strong {
  color: #0eb024;
}
.alerts .warning {
  border-left-color: #ffb53d !important;
  background-color: #fffff0;
}
.alerts .warning strong {
  color: #ffb53d;
}
.alerts .info {
  border-left-color: royalblue !important;
  background-color: #f0faff;
}
.alerts .info strong {
  color: royalblue;
}
.alerts ul {
  margin: 0;
  padding: 0;
  margin-left: 52px;
}

/**
 * Inputs
 */
input {
  height: 25px;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}
input[type="search"] {
  padding: 7px 0 7px 30px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
input:focus {
  outline: none;
  /* background-color: #feffe8; */
  background-color: #ebffe8;
}
#search-input {
  width: 180px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#search-clear {
  height: 25px;
}
#date-filter td:first-child {
  text-align: right;
  padding-right: 4px;
}
#date-filter td {
  color: #555;
  vertical-align: middle;
  font-size: 0.7rem;
}
#date-filter input {
  width: 203px;
}
#date-filter button {
  margin-left: 5px;
}

/**
 * Buttons
 */
button {
  border: 1px solid #aeaeae;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #555;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 0.85;
  padding: 3px 6px;
}
#search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  height: 25px;
}

button.sm {
  padding: 5px 10px;
}

button.md {
  padding: 7px 14px;
}

button.lg {
  padding: 9px 18px;
}

button:hover {
  color: #111;
  opacity: 1;
  background-color: #efefef;
}

/**
 * Sidebar
 */
#sidebar {
  height: 100%;
  background-color: #fbfbfb;
  font-size: 0.9rem;
  max-width: 110px;
  border-right: 2px solid #ddd;
}
#sidebar input {
  width: 100%;
}
#sidebar-filter {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-color: #ddd;
  border-bottom-width: 2px;
}
#sidebar ul {
  list-style-type: none;
  padding: 0 10px;
  width: 100%;
}
#sidebar ul li {
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#sidebar li:hover {
  font-weight: bold;
}

/**
 * Table
 */
#actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}
#actions button {
  margin-right: 8px;
}
#filters {
  margin: 20px 4px;
}
#filter-links > span {
  margin-right: 7px;
}
#filter-links button {
  color: #777;
}
#filter-links button.active {
  font-weight: bold;
  color: #444;
}
.filter-link {
  position: relative;
}
.table-wrapper {
  border-radius: 4px;
  width: 100%;
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: auto;
}
table.module-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}
.module-table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.module-table tbody tr:hover {
  background-color: #feffe8;
}
.module-table tbody tr:hover button {
  opacity: 1;
}
.module-table thead th {
  border-bottom: 1px solid #eaeaea;
}
.module-table thead th a {
  color: #fff;
}
.module-table thead tr {
  color: #fff;
  text-align: left;
}
.module-table span.header-active {
  color: peachpuff;
  white-space: nowrap;
}
.module-table tbody tr td:not(:last-child) span {
  width: 1px;
  white-space: nowrap;
}
.module-table thead th,
.module-table tbody td {
  padding: 6px 5px;
  border-bottom: 1px solid #eaeaea;
}
.module-table .action-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.module-table .action-row button {
  margin-left: 4px;
}

/**
 * Pagination
 */
.pagination {
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}
.pagination a,
.pagination span {
  color: #555;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 0.9rem;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.pagination a:hover:not(.active) {
  font-weight: bold;
  color: #222;
}
.pagination span.disabled {
  color: #aaa;
}
.rows-per-page {
  float: right;
  width: 50px;
  padding-top: 25px;
  padding-right: 45px;
}
.rows-per-page label {
  color: #555;
  font-size: 0.9rem;
  padding-bottom: 2px;
}
.rows-per-page select {
  border: 1px solid #aeaeae;
}
.total-results {
  color: #777;
  float: right;
  padding-top: 25px;
  padding-right: 15px;
}

/**
 * Utility
 */
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.m-5 {
  margin: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.m-10 {
  margin: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.p-5 {
  padding: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.shadow {
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.blue-gradient {
  background: #1488cc; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -o-linear-gradient(left, #2b32b2, #1488cc);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2b32b2),
    to(#1488cc)
  );
  background: -o-linear-gradient(left, #2b32b2, #1488cc);
  background: linear-gradient(
    to right,
    #2b32b2,
    #1488cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.justify-content-left {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.justify-content-right {
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.align-items-left {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}
.align-items-right {
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
}
.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.w-100 {
    width: 100%;
}

/**
 * Mobile
 */
@media only screen and (max-width: 600px) {
  #sidebar {
    display: none;
  }
  #module {
    width: calc(100% - 10px);
  }
  .total-results {
    display: none;
  }
}
