/**
 * Main
 */
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}
#module {
    height: 100%;
    padding: 0 10px;
    width: calc(100% - 135px);
    overflow-y: auto;
}
#content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/**
 * Links
 */
a {
    text-decoration: none;
}
a:link {
    color: #444;
}
a:visited {
    color: #444;
}
a:hover {
    color: royalblue;
}
a:active {
    color: #444;
}
table.module-table a {
    position: relative;
    display: inline-block;
    transition: .3s;
    text-decoration: none;
}
table.module-table a::after {
    position: absolute;
    bottom: .3em;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: royalblue;
    opacity: 0;
    transition: .3s;
}
table.module-table a:hover::after {
    bottom: 0;
    opacity: 1;
}
table.module-table a:hover {
    color: royalblue;
}

/**
 * Breadcrumbs
 */
ul.breadcrumb {
  color: #777;
  padding: 0 0 10px 0;
  list-style: none;
  font-size: 0.8rem;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "\203A";
}

ul.breadcrumb li a {
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/**
 * Alerts
 */
.alerts {
    margin-bottom: 20px;
    width: 100%;
}

.flash {
    display: flex;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-left-style: solid;
    border-width: 5px;
    padding: 20px;
    margin-right: 10px;
}

.alerts strong {
    font-size: 1.2rem;
    margin-right: 10px;
}

.alerts .error {
    border-left-color: red;
    background-color: #fff0f0;
}
.alerts .error strong {
    color: red;
}
.alerts .success {
    border-left-color: #97f7a2 !important;
    background-color: #f0fff1;
}
.alerts .success strong {
    color: #0eb024;
}
.alerts .warning {
    border-left-color: #ffb53d !important;
    background-color: #fffff0;
}
.alerts .warning strong {
    color: #ffb53d
}
.alerts .info {
    border-left-color: royalblue !important;
    background-color: #f0faff;
}
.alerts .info strong {
    color: royalblue;
}
.alerts ul {
    margin: 0;
    padding: 0;
    margin-left: 52px;
}

/**
 * Buttons
 */
button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eaeaea;
    color: #555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 0.85;
}

button.sm {
    padding: 5px 10px;
}

button.md {
    padding: 7px 14px;
}

button.lg {
    padding: 9px 18px;
}

button:hover {
    color: #111;
    opacity: 1.0;
}

/**
 * Sidebar
 */
#sidebar {
    height: 100%;
    background-color: #fbfbfb;
    font-size: 0.9rem;
    width: 125px;
    border-right: 2px solid #DDD;
}
#sidebar ul {
    list-style-type: none;
    padding: 0 10px;
}
#sidebar ul li {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sidebar li:hover {
    font-weight: bold;
}

/**
 * Table
 */
#list-actions {
    display: flex;
    margin: 20px 0;
}
#list-actions button {
    margin-right: 4px;
}
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    max-height: 1000px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
table.module-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}
/* .module-table tbody tr:nth-child(odd) { */
/*     background-color: #f3f3f3; */
/* } */
.module-table tbody tr:hover {
    background-color: #FFFFE0;
}
.module-table tbody tr:hover button {
    opacity: 1.0;
}
.module-table thead th {
    height: 24px;
    border-bottom: 1px solid #eaeaea;
}
.module-table thead th {
    background-color: none;
    font-weight: bold;
    color: #555;
    text-align: left;
    padding: 0;
    text-decoration: underline;
}
.module-table tbody tr td:not(:last-child) span {
    white-space: nowrap;
}
.module-table thead th, .module-table tbody td {
    padding: 4px 5px;
    border-bottom: 1px solid #eaeaea;
}
.module-table .list-action-row {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.module-table .list-action-row button {
    margin-left: 4px;
}

/**
 * Form
 */
#edit-form .edit-title {
    padding-right: 10px;
    text-align: right;
}
#edit-form label {
    font-size: 0.9rem;
    color: #888;
}
#edit-form #edit-actions {
    margin-top: 10px;
}
#edit-form #edit-actions button {
    margin-right: 10px;
}

/**
 * Pagination
 */
.pagination {
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}
.pagination a, .pagination span {
    color: #555;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination a:hover:not(.active) {
    font-weight: bold;
    color: #222;
}
.pagination span.disabled {
    color: #AAA;
}
.total-results {
    float: right;
    padding-top: 25px;
    padding-right: 15px;
}

/**
 * Utility
 */
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.m-10 {
    margin: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.p-10 {
    padding: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * Mobile
 */
@media only screen and (max-width: 600px) {
    #sidebar {
        display: none;
    }
    #module {
        width: calc(100% - 10px);
    }
    .total-results {
        display: none;
    }
}
